In [1]:
import pandas as pd
import selenium
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException,StaleElementReferenceException
import time as ttime

import warnings

warnings.filterwarnings("ignore")

## Q1

In [2]:
driver=webdriver.Chrome(r"C:\\Users\\p.c\\Desktop\\New folder\\chromedriver.exe")
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [3]:
info=[]
infot=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td")
info.extend(i.text for i in infot)

In [4]:
df1=pd.DataFrame()

df1['Rank']=info[:180:6]

df1['Name']=info[1:181:6]

df1['Artist']=info[2:182:6]

df1['views']=info[3:183:6]

df1['uploadDate']=info[4:184:6]
df1

,Rank,Name,Artist,views,uploadDate
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,9.96,"June 17, 2016"
1,2.,"""Despacito""[5]",Luis Fonsi,7.69,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[11]",LooLoo Kids,6.08,"October 8, 2016"
3,4.,"""Shape of You""[12]",Ed Sheeran,5.58,"January 30, 2017"
4,5.,"""See You Again""[14]",Wiz Khalifa,5.38,"April 6, 2015"
5,6.,"""Bath Song""[19]",Cocomelon – Nursery Rhymes,4.83,"May 2, 2018"
6,7.,"""Learning Colors – Colorful Eggs on a Farm""[20]",Miroshka TV,4.55,"February 27, 2018"
7,8.,"""Masha and the Bear – Recipe for Disaster""[21]",Get Movies,4.48,"January 31, 2012"
8,9.,"""Uptown Funk""[22]",Mark Ronson,4.42,"November 19, 2014"
9,10.,"""Phonics Song with Two Words""[23]",ChuChu TV,4.39,"March 6, 2014"
10,11.,"""Gangnam Style""[24]",Psy,4.30,"July 15, 2012"
11,12.,"""Dame Tu Cosita""[29]",El Chombo,3.79,"April 5, 2018"
12,13.,"""Sugar""[30]",Maroon 5,3.62,"January 14, 2015"
13,14.,"""Sorry""[31]",Justin Bieber,3.50,"October 22, 2015"
14,15.,"""Roar""[32]",Katy Perry,3.50,"September 5, 2013"
15,16.,"""Counting Stars""[33]",OneRepublic,3.48,"May 31, 2013"
16,17.,"""Wheels on the Bus""[34]",Cocomelon – Nursery Rhymes,3.47,"May 24, 2018"
17,18.,"""Thinking Out Loud""[35]",Ed Sheeran,3.39,"October 7, 2014"
18,19.,"""Girls Like You""[36]",Maroon 5,3.21,"May 31, 2018"
19,20.,"""Faded""[37]",Alan Walker,3.21,"December 3, 2015"
20,21.,"""Dark Horse""[38]",Katy Perry,3.20,"February 20, 2014"
21,22.,"""Axel F""[39]",Crazy Frog,3.16,"June 16, 2009"
22,23.,"""Let Her Go""[40]",Passenger,3.15,"July 25, 2012"
23,24.,"""Bailando""[41]",Enrique Iglesias,3.15,"April 11, 2014"
24,25.,"""Lean On""[42]",Major Lazer,3.15,"March 22, 2015"
25,26.,"""Shake It Off""[43]",Taylor Swift,3.13,"August 18, 2014"
26,27.,"""Perfect""[44]",Ed Sheeran,3.06,"November 9, 2017"
27,28.,"""Baa Baa Black Sheep""[45]",Cocomelon – Nursery Rhymes,3.05,"June 25, 2018"
28,29.,"""Waka Waka (This Time for Africa)""[46]",Shakira,3.02,"June 4, 2010"
29,30.,"""Mi Gente""[47]",J Balvin,3.02,"June 29, 2017"

## Q2

In [9]:
driver.get("https://www.bcci.tv/")

In [10]:
seachinternational=driver.find_element_by_xpath("//li[@class='nav-item ml-0']/a")
driver.get(seachinternational.get_attribute('href'))

In [11]:
try:
    format=driver.find_elements_by_xpath("//div[@class='cSBDisplay ng-binding']")
    format[1].click()
except:
    print("Error Occured")

In [12]:
formatODI=driver.find_elements_by_xpath("//div[@class='cSBListItems ng-scope']")
formatODI[1].click()

In [13]:
matchest=driver.find_elements_by_xpath("//span[@class='ng-binding']")
matches=[]
matches.append([i.text for i in matchest])
matches

[['INDIA TOUR OF SOUTH AFRICA ODI SERIES 2021/22',
  'INDIA TOUR OF SOUTH AFRICA ODI SERIES 2021/22',
  'INDIA TOUR OF SOUTH AFRICA ODI SERIES 2021/22',
  'WEST INDIES TOUR OF INDIA ODI SERIES 2022',
  'WEST INDIES TOUR OF INDIA ODI SERIES 2022',
  'WEST INDIES TOUR OF INDIA ODI SERIES 2022']]

In [16]:
series=[]
series.extend([i[-7:] for i in matches[0][:3]])
series.extend([i[-4:] for i in matches[0][3:]])
series

['2021/22', '2021/22', '2021/22', '2022', '2022', '2022']

In [17]:
place=driver.find_elements_by_xpath("//div[@class='fix-place ng-binding ng-scope']")
venue=[]
venue.extend([i.text.split("-")[1] for i in place])
venue

[' Boland Park, Paarl',
 ' Boland Park, Paarl',
 ' Newlands, Cape Town',
 ' NARENDRA MODI STADIUM, Ahmedabad',
 ' Sawai Mansingh Stadium, Jaipur',
 ' Eden Gardens, Kolkata']

In [18]:
dateTag=driver.find_elements_by_xpath("//h5[@class='ng-binding']")
date=[]
date.extend([i.text for i in dateTag])
date

['19 JAN 2022',
 '21 JAN 2022',
 '23 JAN 2022',
 '6 FEB 2022',
 '9 FEB 2022',
 '12 FEB 2022']

In [19]:
timeTag=driver.find_elements_by_xpath("//h5[@class='text-right ng-binding']")
time=[]
time.extend([i.text for i in timeTag])
time

['2:00 PM IST',
 '2:00 PM IST',
 '2:00 PM IST',
 '9:30 AM IST',
 '9:30 AM IST',
 '9:30 AM IST']

In [20]:
df=pd.DataFrame()

df['Matches']=matches[0]

df['Series']=series

df['Place']=venue

df['date']=date

df['Time']=time
df

,Matches,Series,Place,date,Time
0,INDIA TOUR OF SOUTH AFRICA ODI SERIES 2021/22,2021/22,"Boland Park, Paarl",19 JAN 2022,2:00 PM IST
1,INDIA TOUR OF SOUTH AFRICA ODI SERIES 2021/22,2021/22,"Boland Park, Paarl",21 JAN 2022,2:00 PM IST
2,INDIA TOUR OF SOUTH AFRICA ODI SERIES 2021/22,2021/22,"Newlands, Cape Town",23 JAN 2022,2:00 PM IST
3,WEST INDIES TOUR OF INDIA ODI SERIES 2022,2022,"NARENDRA MODI STADIUM, Ahmedabad",6 FEB 2022,9:30 AM IST
4,WEST INDIES TOUR OF INDIA ODI SERIES 2022,2022,"Sawai Mansingh Stadium, Jaipur",9 FEB 2022,9:30 AM IST
5,WEST INDIES TOUR OF INDIA ODI SERIES 2022,2022,"Eden Gardens, Kolkata",12 FEB 2022,9:30 AM IST

## Q3

In [101]:
driver=webdriver.Chrome(r"C:\\Users\\p.c\\Desktop\\New folder\\chromedriver.exe")
driver.get("https://www.guru99.com/")

In [102]:
driver.find_elements_by_xpath("//span[@class='kadence-svg-iconset']")[0].click()

In [103]:
searchBar=driver.find_element_by_xpath("//input[@class='gsc-input']")
searchBar.send_keys("selenium exception")

In [105]:
clickButton=driver.find_element_by_xpath("//button[@class='gsc-search-button gsc-search-button-v2']")
clickButton.click()

In [106]:
urls=[]
try:
    urlTag=driver.find_elements_by_xpath("//a[@class='gs-title']")
    urls.extend([i.get_attribute('href') for i in urlTag[:20:2]])
except:
    urls.append('-')

In [107]:
urls

['https://www.guru99.com/exception-handling-selenium.html',
 'https://www.guru99.com/implicit-explicit-waits-selenium.html',
 'https://www.guru99.com/alert-popup-handling-selenium.html',
 'https://www.guru99.com/top-100-selenium-interview-questions-answers.html',
 'https://www.guru99.com/ssl-certificate-error-handling-selenium.html',
 'https://www.guru99.com/gecko-marionette-driver-selenium.html',
 'https://www.guru99.com/test-case-priority-testng.html',
 'https://www.guru99.com/java-exception-handling.html',
 'https://www.guru99.com/take-screenshot-selenium-webdriver.html',
 'https://www.guru99.com/selenium-tutorial.html']

In [108]:
Name=[]
desc=[]
try:
    for i in urls:
        driver.get(i)
        NameTag=driver.find_element_by_xpath("//h1[@class='entry-title']")
        Name.append(NameTag.text)
        descTag=driver.find_elements_by_xpath("//div/p")
        desc.extend([j.text for j in descTag[:2]])
except:
    Name.append("-")
    desc.append("-")

In [109]:
len(Name)

10

In [110]:
description=[]
for i in range(0,len(desc),2):
    description.append(desc[i]+desc[i+1])

In [111]:
df=pd.DataFrame()
df['Name']=Name
df['Description']=description

In [112]:
df

,Name,Description
0,Selenium Exception Handling (Common Exceptions...,An exception is an error that happens at the t...
1,"Implicit, Explicit and Fluent Wait in Selenium...",
2,Selenium Alert & Popup Window Handling: How to...,
3,Top 100 Selenium Interview Questions and Answe...,
4,How to Handle SSL Certificate in Selenium WebD...,SSL (Secure Sockets Layer) is a standard secur...
5,Download Geckodriver: How to Install Using Fir...,The term Gecko stands for a Web Browser engine...
6,TestNG @Test Priority in Selenium,"TestNG is a Testing framework, that covers dif..."
7,Try Catch in Java: Exception Handling Example,Exception in Java is an event that interrupts ...
8,How to Take Screenshot in Selenium WebDriver,A Screenshot in Selenium Webdriver is used for...
9,Selenium Tutorial for Beginners: Learn WebDriv...,Selenium is a popular open-source web-based au...

## Q4

In [27]:
driver.get("http://statisticstimes.com/")

In [29]:
economyTag=driver.find_elements_by_xpath("//button[@class='dropbtn']")
economyTag[1].click()

In [32]:
try:
    IndiaTag=driver.find_elements_by_xpath("//div[@class='dropdown-content']/a")
    driver.get(IndiaTag[4].get_attribute('href'))
except:
    print("Error")

In [35]:
driver.get(driver.find_elements_by_xpath("//a[@class='ec']")[13].get_attribute('href'))

In [43]:
Rank=[]
state=[]
GSDP=[]
GSDP18_19=[]
try:
    rankTag=driver.find_elements_by_xpath("//td[@class='data1']")
    Rank.extend([i.text for i in rankTag[:33]])
    state.extend([i.text for i in driver.find_elements_by_xpath("//td[@class='name']")][:33])
    GSDP18_19.extend([i.text for i in driver.find_elements_by_xpath("//td[@class='data sorting_1']")][:33])
    GSDP.extend([i.text for i in driver.find_elements_by_xpath("//td[@class='data']")][:165])
except:
    Rank.append("-")
    state.append("-")
    GSDP.append("-")
    GSDP18_19.append("-")

In [44]:
GSDP19_20=GSDP[::5]
GSDP19_20
Share=GSDP[1::5]
GDP=GSDP[2::5]
GSDPat11_12_1920=GSDP[3::5]
GSDPat11_12_1819=GSDP[4::5]

In [45]:
df=pd.DataFrame()
df['Rank']=Rank
df['State']=state
df['GSDP (Cr INR at Current prices) 19-20']=GSDP19_20
df['GSDP (Cr INR at Current prices) 18-19']=GSDP18_19
df['shares']=Share
df['GDP ($billion)']=GDP
df['GSDP (Cr INR at 2011-12 prices) 19-20']=GSDPat11_12_1920
df['GSDP (Cr INR at 2011-12 prices) 18-19']=GSDPat11_12_1819

In [46]:
df

,Rank,State,GSDP (Cr INR at Current prices) 19-20,GSDP (Cr INR at Current prices) 18-19,shares,GDP ($billion),GSDP (Cr INR at 2011-12 prices) 19-20,GSDP (Cr INR at 2011-12 prices) 18-19
0,1,Maharashtra,-,"2,632,792",13.94%,399.921,-,"2,039,074"
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629,"1,312,929","1,215,307"
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726,"1,166,817","1,123,982"
3,4,Gujarat,-,"1,502,899",7.96%,228.290,-,"1,186,379"
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806,"1,156,039","1,091,077"
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556,"793,223","739,525"
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179,"711,627","677,428"
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083,"672,018","621,301"
8,9,Telangana,"969,604","861,031",4.56%,130.791,"663,258","612,828"
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977,"561,801","522,009"
10,11,Kerala,-,"781,653",4.14%,118.733,-,"559,412"
11,12,Delhi,"856,112","774,870",4.10%,117.703,"634,408","590,569"
12,13,Haryana,"831,610","734,163",3.89%,111.519,"572,240","531,085"
13,14,Bihar,"611,804","530,363",2.81%,80.562,"414,977","375,651"
14,15,Punjab,"574,760","526,376",2.79%,79.957,"418,868","397,669"
15,16,Odisha,"521,275","487,805",2.58%,74.098,"396,499","376,877"
16,17,Assam,-,"315,881",1.67%,47.982,-,"234,048"
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187,"243,477","231,182"
18,19,Jharkhand,"328,598","297,204",1.57%,45.145,"240,036","224,986"
19,20,Uttarakhand,-,"245,895",1.30%,37.351,-,"193,273"
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690,-,"112,755"
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369,"124,403","117,851"
22,23,Goa,"80,449","73,170",0.39%,11.115,"63,408","57,787"
23,24,Tripura,"55,984","49,845",0.26%,7.571,"40,583","36,963"
24,25,Chandigarh,-,"42,114",0.22%,6.397,-,"31,192"
25,26,Puducherry,"38,253","34,433",0.18%,5.230,"25,093","23,013"
26,27,Meghalaya,"36,572","33,481",0.18%,5.086,"26,695","24,682"
27,28,Sikkim,"32,496","28,723",0.15%,4.363,"20,017","18,722"
28,29,Manipur,"31,790","27,870",0.15%,4.233,"20,673","19,300"
29,30,Nagaland,-,"27,283",0.14%,4.144,-,"17,647"
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737,-,"16,676"
31,32,Mizoram,"26,503","22,287",0.12%,3.385,"18,797","16,478"
32,33,Andaman & Nicobar Islands,-,-,-,-,-,-

In [18]:
driver.close()

## Q5

In [2]:
driver=webdriver.Chrome(r"C:\\Users\\p.c\\Desktop\\New folder\\chromedriver.exe")
driver.get("https://github.com/")

In [3]:
try:
    driver.find_elements_by_xpath("//details[@class='HeaderMenu-details details-overlay details-reset width-full']")[1].click()
except:
    print("Error!!")

In [4]:
try:
    driver.get(driver.find_elements_by_xpath("//a[@class='lh-condensed-ultra d-block no-underline position-relative Link--secondary py-2']")[10].get_attribute('href'))
except:
    print("Error!!")

In [5]:
url=[]
try:
    urlTag=driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a")
    url.extend([i.get_attribute('href') for i in urlTag])
except:
    print("Error!!")

In [8]:
Repository_title=[]
Repository_description=[]
Contributors_count=[]
Language_used=[]
for i in url:
    driver.get(i)
    try:
        Repository_title.append(driver.find_element_by_xpath("//strong[@class='mr-2 flex-self-stretch']").text)
    except:
        Repository_title.append("-")
    try:
        Repository_description.append(driver.find_element_by_xpath("//div[@class='BorderGrid-cell']/p").text)
    except:
        Repository_description.append("-")
    try:
        Contributors_count.append(driver.find_elements_by_xpath("//h2[@class='h4 mb-3']/a/span")[-1].text)
    except:
        Contributors_count.append("-")
    try:
        Language_used.append(driver.find_element_by_xpath("//span[@class='color-fg-default text-bold mr-1']").text)
    except:
        Language_used.append("-")

In [15]:
len(Repository_title)

25

In [16]:
Repository_title

['30-Days-Of-JavaScript',
 'awesome-piracy',
 'HelloGitHub',
 'holehe',
 'xquic',
 'Python',
 'freeCodeCamp',
 'slide_puzzle',
 'java-design-patterns',
 'faker.js',
 'hello-wordl',
 'Java',
 'flash-linux0.11-talk',
 'modern-unix',
 'kaggle-solutions',
 'bumblebee',
 'MagicMirror',
 'laravel-tips',
 'BookStack',
 'awesome-java',
 'PowerToys',
 'interviews',
 'weekly',
 'mae',
 'crypto-reading-list']

In [17]:
df=pd.DataFrame()
df['Repository_title']=Repository_title
df['Repository_description']=Repository_description
df['Contributors_count']=Contributors_count
df['Language_used']=Language_used
df

,Repository_title,Repository_description,Contributors_count,Language_used
0,30-Days-Of-JavaScript,30 days of JavaScript programming challenge is...,18,JavaScript
1,awesome-piracy,A curated list of awesome warez and piracy links,118,HTML
2,HelloGitHub,"分享 GitHub 上有趣、入门级的开源项目。Share interesting, entr...",11,Python
3,holehe,holehe allows you to check if the mail is used...,14,Python
4,xquic,-,6,C
5,Python,All Algorithms implemented in Python,792,Python
6,freeCodeCamp,freeCodeCamp.org's open-source codebase and cu...,"4,374",JavaScript
7,slide_puzzle,-,4,Dart
8,java-design-patterns,Design patterns implemented in Java,270,Java
9,faker.js,-,200,JavaScript
10,hello-wordl,Wordle clone you can play forever,,TypeScript
11,Java,All Algorithms implemented in Java,336,Java
12,flash-linux0.11-talk,你管这破玩意叫操作系统源码 — 像小说一样品读 Linux 0.11 核心代码,14,C
13,modern-unix,A collection of modern/faster/saner alternativ...,10,-
14,kaggle-solutions,🏅 Collection of Kaggle Solutions and Ideas 🏅,,HTML
15,bumblebee,Get eBPF programs running from the cloud to th...,8,C
16,MagicMirror,MagicMirror² is an open source modular smart m...,281,JavaScript
17,laravel-tips,Awesome tips for Laravel,38,-
18,BookStack,A platform to create documentation/wiki conten...,145,PHP
19,awesome-java,"A curated list of awesome frameworks, librarie...",314,-
20,PowerToys,Windows system utilities to maximize productivity,262,C#
21,interviews,Everything you need to know to get the job.,30,Java
22,weekly,前端精读周刊。帮你理解最前沿、实用的技术。,58,JavaScript
23,mae,PyTorch implementation of MAE https//arxiv.org...,2,Python
24,crypto-reading-list,-,2,-

## Q6

In [137]:
driver.get("http://www.billboard.com/")

In [138]:
driver.find_element_by_xpath("//button[@class='o-icon-button lrv-a-unstyle-button lrv-a-unstyle-link lrv-u-cursor-pointer lrv-u-flex js-MegaMenu-Trigger lrv-u-color-grey:hover lrv-a-hover-effect']").click()

In [139]:
url=driver.find_elements_by_xpath("//a[@class='c-link  lrv-a-unstyle-link lrv-u-font-size-18@desktop lrv-u-color-grey:hover u-color-brand-secondary:hover@desktop-max u-padding-a-1@desktop-max lrv-u-padding-tb-025 lrv-u-display-block']")
urls=url[0].get_attribute('href')

In [140]:
driver.get(urls)

In [142]:
Name=[]
Name.append(driver.find_element_by_xpath("//h3[@class='c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 u-font-size-23@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-245 u-max-width-230@tablet-only u-letter-spacing-0028@tablet']").text)

In [144]:
Artist=[]
Artist.append(driver.find_element_by_xpath("//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet']").text)

In [146]:
rank=[]
rankTag=driver.find_elements_by_xpath("//span[@class='c-label  a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet']")
rank.extend([i.text for i in rankTag[:3]])

In [147]:
rank

['1', '1', '51']

In [148]:
nameTag=driver.find_elements_by_xpath("//h3[@class='c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only']")
Name.extend([i.text for i in nameTag])

In [150]:
artistTag=driver.find_elements_by_xpath("//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only']")
Artist.extend([i.text for i in artistTag])

In [167]:
Rank=[]
RankTag=driver.find_elements_by_xpath("//span[@class='c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max']")
Rank.extend([i.text for i in RankTag])

In [168]:
Rank

['5',
 '1',
 '12',
 '',
 '',
 '',
 '2',
 '2',
 '45',
 '',
 '',
 '',
 '3',
 '3',
 '42',
 '',
 '',
 '',
 '4',
 '4',
 '26',
 '',
 '',
 '',
 '9',
 '1',
 '25',
 '',
 '',
 '',
 '15',
 '7',
 '50',
 '',
 '',
 '',
 '6',
 '5',
 '27',
 '',
 '',
 '',
 '23',
 '5',
 '16',
 '',
 '',
 '',
 '8',
 '6',
 '20',
 '',
 '',
 '',
 '7',
 '7',
 '25',
 '',
 '',
 '',
 '22',
 '1',
 '23',
 '',
 '',
 '',
 '17',
 '12',
 '12',
 '',
 '',
 '',
 '24',
 '8',
 '29',
 '',
 '',
 '',
 '10',
 '10',
 '16',
 '',
 '',
 '',
 '26',
 '16',
 '8',
 '',
 '',
 '',
 '27',
 '15',
 '6',
 '',
 '',
 '',
 '11',
 '11',
 '32',
 '',
 '',
 '',
 '31',
 '2',
 '27',
 '',
 '',
 '',
 '29',
 '11',
 '17',
 '',
 '',
 '',
 '13',
 '12',
 '15',
 '',
 '',
 '',
 '16',
 '16',
 '12',
 '',
 '',
 '',
 '18',
 '17',
 '13',
 '',
 '',
 '',
 '19',
 '16',
 '17',
 '',
 '',
 '',
 '21',
 '12',
 '25',
 '',
 '',
 '',
 '25',
 '10',
 '14',
 '',
 '',
 '',
 '20',
 '18',
 '13',
 '',
 '',
 '',
 '32',
 '5',
 '8',
 '',
 '',
 '',
 '28',
 '22',
 '12',
 '',
 '',
 '',
 '14',
 '14',
 '2',
 '',
 '',
 '',
 '38',
 '1',
 '33',
 '',
 '',
 '',
 '39',
 '32',
 '14',
 '',
 '',
 '',
 '45',
 '3',
 '28',
 '',
 '',
 '',
 '12',
 '8',
 '19',
 '',
 '',
 '',
 '49',
 '10',
 '15',
 '',
 '',
 '',
 '-',
 '9',
 '25',
 '',
 '',
 '',
 '33',
 '33',
 '4',
 '',
 '',
 '',
 '-',
 '3',
 '37',
 '',
 '',
 '',
 '50',
 '6',
 '8',
 '',
 '',
 '',
 '57',
 '5',
 '6',
 '',
 '',
 '',
 '48',
 '41',
 '2',
 '',
 '',
 '',
 '-',
 '11',
 '26',
 '',
 '',
 '',
 '51',
 '11',
 '22',
 '',
 '',
 '',
 '54',
 '30',
 '20',
 '',
 '',
 '',
 '35',
 '35',
 '3',
 '',
 '',
 '',
 '56',
 '29',
 '11',
 '',
 '',
 '',
 '30',
 '20',
 '10',
 '',
 '',
 '',
 '52',
 '31',
 '15',
 '',
 '',
 '',
 '42',
 '7',
 '4',
 '',
 '',
 '',
 '-',
 '50',
 '1',
 '',
 '',
 '',
 '59',
 '30',
 '21',
 '',
 '',
 '',
 '53',
 '4',
 '17',
 '',
 '',
 '',
 '58',
 '1',
 '17',
 '',
 '',
 '',
 '-',
 '54',
 '1',
 '',
 '',
 '',
 '61',
 '39',
 '26',
 '',
 '',
 '',
 '60',
 '21',
 '16',
 '',
 '',
 '',
 '64',
 '57',
 '13',
 '',
 '',
 '',
 '66',
 '32',
 '24',
 '',
 '',
 '',
 '65',
 '2',
 '17',
 '',
 '',
 '',
 '73',
 '59',
 '14',
 '',
 '',
 '',
 '67',
 '17',
 '12',
 '',
 '',
 '',
 '69',
 '62',
 '10',
 '',
 '',
 '',
 '72',
 '53',
 '14',
 '',
 '',
 '',
 '70',
 '64',
 '6',
 '',
 '',
 '',
 '63',
 '63',
 '5',
 '',
 '',
 '',
 '68',
 '1',
 '7',
 '',
 '',
 '',
 '55',
 '55',
 '4',
 '',
 '',
 '',
 '75',
 '28',
 '16',
 '',
 '',
 '',
 '62',
 '62',
 '5',
 '',
 '',
 '',
 '82',
 '65',
 '12',
 '',
 '',
 '',
 '76',
 '62',
 '22',
 '',
 '',
 '',
 '84',
 '1',
 '14',
 '',
 '',
 '',
 '86',
 '73',
 '12',
 '',
 '',
 '',
 '71',
 '71',
 '4',
 '',
 '',
 '',
 '80',
 '75',
 '13',
 '',
 '',
 '',
 '78',
 '58',
 '5',
 '',
 '',
 '',
 '83',
 '77',
 '5',
 '',
 '',
 '',
 '92',
 '78',
 '6',
 '',
 '',
 '',
 '-',
 '79',
 '1',
 '',
 '',
 '',
 '93',
 '45',
 '7',
 '',
 '',
 '',
 '90',
 '81',
 '6',
 '',
 '',
 '',
 '74',
 '34',
 '3',
 '',
 '',
 '',
 '-',
 '83',
 '1',
 '',
 '',
 '',
 '81',
 '81',
 '4',
 '',
 '',
 '',
 '89',
 '68',
 '12',
 '',
 '',
 '',
 '94',
 '48',
 '15',
 '',
 '',
 '',
 '97',
 '87',
 '2',
 '',
 '',
 '',
 '-',
 '53',
 '3',
 '',
 '',
 '',
 '-',
 '87',
 '7',
 '',
 '',
 '',
 '-',
 '79',
 '7',
 '',
 '',
 '',
 '96',
 '20',
 '11',
 '',
 '',
 '',
 '-',
 '92',
 '1',
 '',
 '',
 '',
 '79',
 '79',
 '2',
 '',
 '',
 '',
 '-',
 '94',
 '1',
 '',
 '',
 '',
 '87',
 '49',
 '4',
 '',
 '',
 '',
 '-',
 '96',
 '1',
 '',
 '',
 '',
 '88',
 '20',
 '6',
 '',
 '',
 '',
 '98',
 '13',
 '8',
 '',
 '',
 '',
 '-',
 '99',
 '1',
 '',
 '',
 '',
 '100',
 '18',
 '18',
 '',
 '',
 '']

In [170]:
len(Rank)

594

In [184]:
for i in Rank:
    if i=='':
        Rank.remove(i)

In [185]:
len(Rank)

297

In [186]:
Rank

['5',
 '1',
 '12',
 '2',
 '2',
 '45',
 '3',
 '3',
 '42',
 '4',
 '4',
 '26',
 '9',
 '1',
 '25',
 '15',
 '7',
 '50',
 '6',
 '5',
 '27',
 '23',
 '5',
 '16',
 '8',
 '6',
 '20',
 '7',
 '7',
 '25',
 '22',
 '1',
 '23',
 '17',
 '12',
 '12',
 '24',
 '8',
 '29',
 '10',
 '10',
 '16',
 '26',
 '16',
 '8',
 '27',
 '15',
 '6',
 '11',
 '11',
 '32',
 '31',
 '2',
 '27',
 '29',
 '11',
 '17',
 '13',
 '12',
 '15',
 '16',
 '16',
 '12',
 '18',
 '17',
 '13',
 '19',
 '16',
 '17',
 '21',
 '12',
 '25',
 '25',
 '10',
 '14',
 '20',
 '18',
 '13',
 '32',
 '5',
 '8',
 '28',
 '22',
 '12',
 '14',
 '14',
 '2',
 '38',
 '1',
 '33',
 '39',
 '32',
 '14',
 '45',
 '3',
 '28',
 '12',
 '8',
 '19',
 '49',
 '10',
 '15',
 '-',
 '9',
 '25',
 '33',
 '33',
 '4',
 '-',
 '3',
 '37',
 '50',
 '6',
 '8',
 '57',
 '5',
 '6',
 '48',
 '41',
 '2',
 '-',
 '11',
 '26',
 '51',
 '11',
 '22',
 '54',
 '30',
 '20',
 '35',
 '35',
 '3',
 '56',
 '29',
 '11',
 '30',
 '20',
 '10',
 '52',
 '31',
 '15',
 '42',
 '7',
 '4',
 '-',
 '50',
 '1',
 '59',
 '30',
 '21',
 '53',
 '4',
 '17',
 '58',
 '1',
 '17',
 '-',
 '54',
 '1',
 '61',
 '39',
 '26',
 '60',
 '21',
 '16',
 '64',
 '57',
 '13',
 '66',
 '32',
 '24',
 '65',
 '2',
 '17',
 '73',
 '59',
 '14',
 '67',
 '17',
 '12',
 '69',
 '62',
 '10',
 '72',
 '53',
 '14',
 '70',
 '64',
 '6',
 '63',
 '63',
 '5',
 '68',
 '1',
 '7',
 '55',
 '55',
 '4',
 '75',
 '28',
 '16',
 '62',
 '62',
 '5',
 '82',
 '65',
 '12',
 '76',
 '62',
 '22',
 '84',
 '1',
 '14',
 '86',
 '73',
 '12',
 '71',
 '71',
 '4',
 '80',
 '75',
 '13',
 '78',
 '58',
 '5',
 '83',
 '77',
 '5',
 '92',
 '78',
 '6',
 '-',
 '79',
 '1',
 '93',
 '45',
 '7',
 '90',
 '81',
 '6',
 '74',
 '34',
 '3',
 '-',
 '83',
 '1',
 '81',
 '81',
 '4',
 '89',
 '68',
 '12',
 '94',
 '48',
 '15',
 '97',
 '87',
 '2',
 '-',
 '53',
 '3',
 '-',
 '87',
 '7',
 '-',
 '79',
 '7',
 '96',
 '20',
 '11',
 '-',
 '92',
 '1',
 '79',
 '79',
 '2',
 '-',
 '94',
 '1',
 '87',
 '49',
 '4',
 '-',
 '96',
 '1',
 '88',
 '20',
 '6',
 '98',
 '13',
 '8',
 '-',
 '99',
 '1',
 '100',
 '18',
 '18']

In [193]:
lastweekpos=Rank[0::3]
lastweekpos.insert(0,rank[0])
peakPos=Rank[1::3]
peakPos.insert(0,rank[1])
weeksonBoard=Rank[2::3]
weeksonBoard.insert(0,rank[2])

In [194]:
df=pd.DataFrame()
df['SongName']=Name
df['ArtistName']=Artist
df['Last Week']=lastweekpos
df["PeekPosition"]=peakPos
df['Weeks On board']=weeksonBoard
df

,SongName,ArtistName,Last Week,PeekPosition,Weeks On board
0,All I Want For Christmas Is You,Mariah Carey,1,1,51
1,Easy On Me,Adele,5,1,12
2,Rockin' Around The Christmas Tree,Brenda Lee,2,2,45
3,Jingle Bell Rock,Bobby Helms,3,3,42
4,A Holly Jolly Christmas,Burl Ives,4,4,26
5,Stay,The Kid LAROI & Justin Bieber,9,1,25
6,Heat Waves,Glass Animals,15,7,50
7,It's The Most Wonderful Time Of The Year,Andy Williams,6,5,27
8,Shivers,Ed Sheeran,23,5,16
9,Feliz Navidad,Jose Feliciano,8,6,20
10,Last Christmas,Wham!,7,7,25
11,Industry Baby,Lil Nas X & Jack Harlow,22,1,23
12,It's Beginning To Look A Lot Like Christmas,Perry Como And The Fontane Sisters With Mitche...,17,12,12
13,Need To Know,Doja Cat,24,8,29
14,Sleigh Ride,The Ronettes,10,10,16
15,Super Gremlin,Kodak Black,26,16,8
16,abcdefu,GAYLE,27,15,6
17,The Christmas Song (Merry Christmas To You),Nat King Cole,11,11,32
18,Bad Habits,Ed Sheeran,31,2,27
19,Cold Heart (PNAU Remix),Elton John & Dua Lipa,29,11,17
20,Underneath The Tree,Kelly Clarkson,13,12,15
21,Christmas (Baby Please Come Home),Darlene Love,16,16,12
22,Santa Tell Me,Ariana Grande,18,17,13
23,Rudolph The Red-Nosed Reindeer,Gene Autry,19,16,17
24,White Christmas,Bing Crosby,21,12,25
25,Run Rudolph Run,Chuck Berry,25,10,14
26,Happy Holiday / The Holiday Season,Andy Williams,20,18,13
27,Smokin Out The Window,Silk Sonic (Bruno Mars & Anderson .Paak),32,5,8
28,(There's No Place Like) Home For The Holidays,Perry Como,28,22,12
29,Broadway Girls,Lil Durk Featuring Morgan Wallen,14,14,2
...,...,...,...,...,...
70,Woman,Doja Cat,76,62,22
71,My Universe,Coldplay x BTS,84,1,14
72,Freedom Was A Highway,Jimmie Allen & Brad Paisley,86,73,12
73,I'll Be Home For Christmas,Camila Cabello,71,71,4
74,For Tonight,Giveon,80,75,13
75,By Your Side,Rod Wave,78,58,5
76,To Be Loved By You,Parker McCollum,83,77,5
77,Heart On Fire,Eric Church,92,78,6
78,Christmas Tree,V,-,79,1
79,Message In A Bottle (Taylor's Version) (From T...,Taylor Swift,93,45,7
80,Scorpio,Moneybagg Yo,90,81,6
81,Burn,Juice WRLD,74,34,3
82,Hrs And Hrs,Muni Long,-,83,1
83,Life Goes On,Oliver Tree,81,81,4
84,Tequila Little Time,Jon Pardi,89,68,12
85,Same Boat,Zac Brown Band,94,48,15
86,Do It To It,Acraze Featuring Cherish,97,87,2
87,Doin' This,Luke Combs,-,53,3
88,Half Of My Hometown,Kelsea Ballerini Featuring Kenny Chesney,-,87,7
89,Poke It Out,Wale Featuring J. Cole,-,79,7
90,Bubbly,Young Thug With Drake & Travis Scott,96,20,11
91,I Am Woman,Emmy Meli,-,92,1
92,Christmas Isn't Canceled (Just You),Kelly Clarkson,79,79,2
93,Pressure,Ari Lennox,-,94,1
94,Wandered To LA.,Juice WRLD & Justin Bieber,87,49,4
95,Beers On Me,"Dierks Bentley, Breland & HARDY",-,96,1
96,Already Dead,Juice WRLD,88,20,6
97,No Love,Summer Walker & SZA,98,13,8
98,23,Sam Hunt,-,99,1
99,Family Ties,Baby Keem & Kendrick Lamar,100,18,18

In [195]:
driver.close()

## Q7

In [7]:
driver=webdriver.Chrome(r"C:\\Users\\p.c\\Desktop\\New folder\\chromedriver.exe")
driver.get("https://www.naukri.com/")

In [8]:
driver.get(driver.find_element_by_xpath("//a[@title='Search Recruiters']").get_attribute("href"))

In [9]:
driver.find_element_by_xpath("//input[@class='sugInp']").send_keys("Data Science")

In [10]:
driver.find_element_by_xpath("//button[@class='fl qsbSrch blueBtn']").click()

In [23]:
Name=[]
Designation=[]
Company=[]
Skills_hire=[]
Location=[]
try:
    nameTag=driver.find_elements_by_xpath("//span[@class='fl ellipsis']")
    Name.extend([i.text for i in nameTag])
except:
    Name.append("-")
try:
    desTag=driver.find_elements_by_xpath("//span[@class='ellipsis clr']")
    Designation.extend([i.text for i in desTag])
except:
    Designation.append("-")

try:
    comTag=driver.find_elements_by_xpath("//a[@class='ellipsis']")[1::2]
    Company.extend([i.text for i in comTag])
except:
    Company.append("-")
    
try:
    skill=driver.find_elements_by_xpath("//div[@class='hireSec highlightable']")
    Skills_hire.extend([i.text for i in skill])
except:
    Skills_hire.append("-")

try:
    locTag=driver.find_elements_by_xpath("//small[@class='ellipsis']")
    try:
        Location.extend([i.text for i in locTag])
    except:
        Location.append("-")
except:
    Location.append("-")

In [29]:
df=pd.DataFrame()
df["name"]=Name
df['Designation']=Designation
df['Company']=Company
df['Skills_hireFor']=Skills_hire
df['Location']=Location
df

,name,Designation,Company,Skills_hireFor,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
11,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
12,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
13,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
14,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
15,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin...",Chandigarh
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
17,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
18,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
19,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
20,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
21,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
22,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
23,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
24,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
25,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
26,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
27,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
28,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",-
29,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Delhi
30,Avodha,Business Development Associate,Nikitha Palaparthi,"Ethical Hacking, Security Operations Center, S...",Hyderabad / Secunderabad
31,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
32,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
33,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Bengaluru / Bangalore
34,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",New Delhi
35,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
36,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Aligarh
37,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Salt Lake City
38,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Pune
39,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Bengaluru / Bangalore
40,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
41,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Indore
42,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",Bengaluru / Bangalore
43,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",MYSORE
44,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Hyderabad / Secunderabad
45,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore
46,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",-
47,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",Mumbai
48,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Hyderabad / Secunderabad
49,Radha Manivasagam,HR Executive,Techcovery,"Python, Artificial Intelligence, Machine Learn...",Bengaluru / Bangalore

In [32]:
driver.close()

## q8

In [34]:
driver=webdriver.Chrome(r"C:\\Users\\p.c\\Desktop\\New folder\\chromedriver.exe")
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/")

In [47]:
books=[]
genre=[]
try:
    bokks=driver.find_elements_by_xpath("//td[@class='left']")
    books.extend([i.text for i in bokks])
except:
    books.append("-")
    
try:
    genreTag=driver.find_elements_by_xpath("//td[@class='last left']")
    genre.extend([i.text for i in genreTag])
except:
    genre.append("-")

In [48]:
title=books[1::5]
author=books[2::5]
volSold=books[3::5]
publisher=books[4::5]

In [49]:
len(genre)

100

In [50]:
df=pd.DataFrame()
df['bookName']=title
df['Author']=author
df['Volume_Sold']=volSold
df['Publisher']=publisher
df['genre']=genre
df

,bookName,Author,Volume_Sold,Publisher,genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
5,Harry Potter and the Goblet of Fire,"Rowling, J.K.","3,583,215",Bloomsbury,Children's Fiction
6,Harry Potter and the Chamber of Secrets,"Rowling, J.K.","3,484,047",Bloomsbury,Children's Fiction
7,Harry Potter and the Prisoner of Azkaban,"Rowling, J.K.","3,377,906",Bloomsbury,Children's Fiction
8,Angels and Demons,"Brown, Dan","3,193,946",Transworld,"Crime, Thriller & Adventure"
9,Harry Potter and the Half-blood Prince:Childre...,"Rowling, J.K.","2,950,264",Bloomsbury,Children's Fiction
10,Fifty Shades Darker,"James, E. L.","2,479,784",Random House,Romance & Sagas
11,Twilight,"Meyer, Stephenie","2,315,405","Little, Brown Book",Young Adult Fiction
12,"Girl with the Dragon Tattoo,The:Millennium Tri...","Larsson, Stieg","2,233,570",Quercus,"Crime, Thriller & Adventure"
13,Fifty Shades Freed,"James, E. L.","2,193,928",Random House,Romance & Sagas
14,"Lost Symbol,The","Brown, Dan","2,183,031",Transworld,"Crime, Thriller & Adventure"
15,New Moon,"Meyer, Stephenie","2,152,737","Little, Brown Book",Young Adult Fiction
16,Deception Point,"Brown, Dan","2,062,145",Transworld,"Crime, Thriller & Adventure"
17,Eclipse,"Meyer, Stephenie","2,052,876","Little, Brown Book",Young Adult Fiction
18,"Lovely Bones,The","Sebold, Alice","2,005,598",Pan Macmillan,General & Literary Fiction
19,"Curious Incident of the Dog in the Night-time,The","Haddon, Mark","1,979,552",Random House,General & Literary Fiction
20,Digital Fortress,"Brown, Dan","1,928,900",Transworld,"Crime, Thriller & Adventure"
21,"Short History of Nearly Everything,A","Bryson, Bill","1,852,919",Transworld,Popular Science
22,"Girl Who Played with Fire,The:Millennium Trilogy","Larsson, Stieg","1,814,784",Quercus,"Crime, Thriller & Adventure"
23,Breaking Dawn,"Meyer, Stephenie","1,787,118","Little, Brown Book",Young Adult Fiction
24,"Very Hungry Caterpillar,The:The Very Hungry Ca...","Carle, Eric","1,783,535",Penguin,Picture Books
25,"Gruffalo,The","Donaldson, Julia","1,781,269",Pan Macmillan,Picture Books
26,Jamie's 30-Minute Meals,"Oliver, Jamie","1,743,266",Penguin,Food & Drink: General
27,"Kite Runner,The","Hosseini, Khaled","1,629,119",Bloomsbury,General & Literary Fiction
28,One Day,"Nicholls, David","1,616,068",Hodder & Stoughton,General & Literary Fiction
29,"Thousand Splendid Suns,A","Hosseini, Khaled","1,583,992",Bloomsbury,General & Literary Fiction
...,...,...,...,...,...
70,Stupid White Men:...and Other Sorry Excuses fo...,"Moore, Michael","963,353",Penguin,Current Affairs & Issues
71,"Interpretation of Murder,The","Rubenfeld, Jed","962,515",Headline,"Crime, Thriller & Adventure"
72,Sharon Osbourne Extreme:My Autobiography,"Osbourne, Sharon","959,496","Little, Brown Book",Autobiography: The Arts
73,"Alchemist,The:A Fable About Following Your Dream","Coelho, Paulo","956,114",HarperCollins,General & Literary Fiction
74,At My Mother's Knee ...:and Other Low Joints,"O'Grady, Paul","945,640",Transworld,Autobiography: The Arts
75,Notes from a Small Island,"Bryson, Bill","931,312",Transworld,Travel Writing
76,"Return of the Naked Chef,The","Oliver, Jamie","925,425",Penguin,Food & Drink: General
77,Bridget Jones: The Edge of Reason,"Fielding, Helen","924,695",Pan Macmillan,General & Literary Fiction
78,Jamie's Italy,"Oliver, Jamie","906,968",Penguin,National & Regional Cuisine
79,I Can Make You Thin,"McKenna, Paul","905,086",Transworld,Fitness & Diet
80,Down Under,"Bryson, Bill","890,847",Transworld,Travel Writing
81,"Summons,The","Grisham, John","869,671",Random House,"Crime, Thriller & Adventure"
82,Small Island,"Levy, Andrea","869,659",Headline,General & Literary Fiction
83,Nigella Express,"Lawson, Nigella","862,602",Random House,Food & Drink: General
84,Brick Lane,"Ali, Monica","856,540",Transworld,General & Literary Fiction
85,"Memory Keeper's Daughter,The","Edwards, Kim","845,858",Penguin,General & Literary Fiction
86,Room on the Broom,"Donaldson, Julia","842,535",Pan Macmillan,Picture Books
87,About a Boy,"Hornby, Nick","828,215",Penguin,General & Literary Fiction
88,My Booky Wook,"Brand, Russell","820,563",Hodder & Stoughton,Autobiography: The Arts
89,"God Delusion,The","Dawkins, Richard","816,907",Transworld,Popular Science
90,"""Beano"" Annual,The",0,"816,585",D.C. Thomson,Children's Annuals
91,White Teeth,"Smith, Zadie","815,586",Penguin,General & Literary Fiction
92,"House at Riverton,The","Morton, Kate","814,370",Pan Macmillan,General & Literary Fiction
93,"Book Thief,The","Zusak, Markus","809,641",Transworld,General & Literary Fiction
94,Nights of Rain and Stars,"Binchy, Maeve","808,900",Orion,General & Literary Fiction
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [51]:
driver.close()

## Q9

In [52]:
driver=webdriver.Chrome(r"C:\\Users\\p.c\\Desktop\\New folder\\chromedriver.exe")
driver.get("https://www.imdb.com/list/ls095964455/")

In [71]:
name=[]
yearSpan=[]
genre=[]
runTime=[]
ratings=[]
votes=[]
try:
    nameTag=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a")
    name.extend([i.text for i in nameTag])
except:
    name.append("-")

try:
    yearSpantag=driver.find_elements_by_xpath("//span[@class='lister-item-year text-muted unbold']")
    yearSpan.extend([i.text for i in yearSpantag])
except:
    yearSpan.append("-")
    

try:
    genreTag=driver.find_elements_by_xpath("//span[@class='genre']")
    genre.extend([i.text for i in genreTag])
except:
    genre.append("-")
    
try:
    runTimeTag=driver.find_elements_by_xpath("//span[@class='runtime']")
    runTime.extend([i.text for i in runTimeTag])
except:
    runTime.append("-")
    
try:
    ratingsTag=driver.find_elements_by_xpath("//span[@class='ipl-rating-star__rating']")
    ratings.extend([i.text for i in ratingsTag[::23]])
except:
    ratings.append("-")
    
try:
    votesTag=driver.find_elements_by_xpath("//span[@name='nv']")
    votes.extend([i.text for i in votesTag])
except:
    votes.append("-")

In [72]:
name

['Game of Thrones',
 'Stranger Things',
 'The Walking Dead',
 '13 Reasons Why',
 'The 100',
 'Orange Is the New Black',
 'Riverdale',
 "Grey's Anatomy",
 'The Flash',
 'Arrow',
 'Money Heist',
 'The Big Bang Theory',
 'Black Mirror',
 'Sherlock',
 'Vikings',
 'Pretty Little Liars',
 'The Vampire Diaries',
 'American Horror Story',
 'Breaking Bad',
 'Lucifer',
 'Supernatural',
 'Prison Break',
 'How to Get Away with Murder',
 'Teen Wolf',
 'The Simpsons',
 'Once Upon a Time',
 'Narcos',
 'Daredevil',
 'Friends',
 'How I Met Your Mother',
 'Suits',
 'Mr. Robot',
 'The Originals',
 'Supergirl',
 'Gossip Girl',
 'Sense8',
 'Gotham',
 'Westworld',
 'Jessica Jones',
 'Modern Family',
 'Rick and Morty',
 'Shadowhunters',
 'The End of the F***ing World',
 'House of Cards',
 'Dark',
 'Elite',
 'Sex Education',
 'Shameless',
 'New Girl',
 'Agents of S.H.I.E.L.D.',
 'You',
 'Dexter',
 'Fear the Walking Dead',
 'Family Guy',
 'The Blacklist',
 'Lost',
 'Peaky Blinders',
 'House',
 'Quantico',
 'Orphan Black',
 'Homeland',
 'Blindspot',
 "DC's Legends of Tomorrow",
 "The Handmaid's Tale",
 'Chilling Adventures of Sabrina',
 'The Good Doctor',
 'Jane the Virgin',
 'Glee',
 'South Park',
 'Brooklyn Nine-Nine',
 'Under the Dome',
 'The Umbrella Academy',
 'True Detective',
 'The OA',
 'Desperate Housewives',
 'Better Call Saul',
 'Bates Motel',
 'The Punisher',
 'Atypical',
 'Dynasty',
 'This Is Us',
 'The Good Place',
 'Iron Fist',
 'The Rain',
 'Mindhunter',
 'Revenge',
 'Luke Cage',
 'Scandal',
 'The Defenders',
 'Big Little Lies',
 'Insatiable',
 'The Mentalist',
 'The Crown',
 'Chernobyl',
 'iZombie',
 'Reign',
 'A Series of Unfortunate Events',
 'Criminal Minds',
 'Scream: The TV Series',
 'The Haunting of Hill House']

In [73]:
df=pd.DataFrame()
df['Name']=name
df['yearSpan']=yearSpan
df['ratings']=ratings
df['runTime']=runTime
df['genre']=genre
df['votes']=votes
df

,Name,yearSpan,ratings,runTime,genre,votes
0,Game of Thrones,(2011–2019),9.2,57 min,"Action, Adventure, Drama","1,927,443"
1,Stranger Things,(2016– ),8.7,51 min,"Drama, Fantasy, Horror","949,642"
2,The Walking Dead,(2010–2022),8.2,44 min,"Drama, Horror, Thriller","921,167"
3,13 Reasons Why,(2017–2020),7.5,60 min,"Drama, Mystery, Thriller","275,950"
4,The 100,(2014–2020),7.6,43 min,"Drama, Mystery, Sci-Fi","236,230"
5,Orange Is the New Black,(2013–2019),8,59 min,"Comedy, Crime, Drama","290,849"
6,Riverdale,(2017– ),6.7,45 min,"Crime, Drama, Mystery","135,375"
7,Grey's Anatomy,(2005– ),7.5,41 min,"Drama, Romance","283,943"
8,The Flash,(2014– ),7.6,43 min,"Action, Adventure, Drama","331,056"
9,Arrow,(2012–2020),7.5,42 min,"Action, Adventure, Crime","421,426"
10,Money Heist,(2017–2021),8.2,70 min,"Action, Crime, Drama","434,519"
11,The Big Bang Theory,(2007–2019),8.1,22 min,"Comedy, Romance","766,488"
12,Black Mirror,(2011–2019),8.8,60 min,"Drama, Sci-Fi, Thriller","496,935"
13,Sherlock,(2010–2017),9.1,88 min,"Crime, Drama, Mystery","868,967"
14,Vikings,(2013–2020),8.5,44 min,"Action, Adventure, Drama","485,307"
15,Pretty Little Liars,(2010–2017),7.4,44 min,"Drama, Mystery, Romance","160,234"
16,The Vampire Diaries,(2009–2017),7.7,43 min,"Drama, Fantasy, Horror","303,993"
17,American Horror Story,(2011– ),8,60 min,"Drama, Horror, Thriller","302,783"
18,Breaking Bad,(2008–2013),9.4,49 min,"Crime, Drama, Thriller","1,634,023"
19,Lucifer,(2016–2021),8.1,42 min,"Crime, Drama, Fantasy","300,104"
20,Supernatural,(2005–2020),8.4,44 min,"Drama, Fantasy, Horror","418,190"
21,Prison Break,(2005–2017),8.3,44 min,"Action, Crime, Drama","506,871"
22,How to Get Away with Murder,(2014–2020),8.1,43 min,"Crime, Drama, Mystery","142,558"
23,Teen Wolf,(2011–2017),7.6,41 min,"Action, Drama, Fantasy","138,893"
24,The Simpsons,(1989– ),8.6,22 min,"Animation, Short, Comedy","387,466"
25,Once Upon a Time,(2011–2018),7.7,60 min,"Adventure, Fantasy, Romance","217,222"
26,Narcos,(2015–2017),8.8,49 min,"Biography, Crime, Drama","393,184"
27,Daredevil,(2015–2018),8.6,54 min,"Action, Crime, Drama","397,053"
28,Friends,(1994–2004),8.8,22 min,"Comedy, Romance","924,554"
29,How I Met Your Mother,(2005–2014),8.3,22 min,"Comedy, Romance","646,422"
...,...,...,...,...,...,...
70,Under the Dome,(2013–2015),6.6,43 min,"Drama, Mystery, Sci-Fi","104,279"
71,The Umbrella Academy,(2019– ),8,60 min,"Action, Adventure, Comedy","191,334"
72,True Detective,(2014–2019),8.9,55 min,"Crime, Drama, Mystery","532,668"
73,The OA,(2016–2019),7.8,60 min,"Drama, Fantasy, Mystery","99,130"
74,Desperate Housewives,(2004–2012),7.5,45 min,"Comedy, Drama, Mystery","123,552"
75,Better Call Saul,(2015–2022),8.8,46 min,"Crime, Drama","371,548"
76,Bates Motel,(2013–2017),8.1,45 min,"Drama, Horror, Mystery","103,518"
77,The Punisher,(2017–2019),8.5,53 min,"Action, Crime, Drama","208,224"
78,Atypical,(2017–2021),8.3,30 min,"Comedy, Drama","80,066"
79,Dynasty,(2017– ),7.3,42 min,Drama,"20,060"
80,This Is Us,(2016–2022),8.6,45 min,"Comedy, Drama, Romance","122,632"
81,The Good Place,(2016–2020),8.2,22 min,"Comedy, Drama, Fantasy","139,301"
82,Iron Fist,(2017–2018),6.4,55 min,"Action, Adventure, Crime","123,556"
83,The Rain,(2018–2020),6.3,45 min,"Drama, Sci-Fi, Thriller","34,631"
84,Mindhunter,(2017–2019),8.6,60 min,"Crime, Drama, Thriller","255,153"
85,Revenge,(2011–2015),7.8,44 min,"Drama, Mystery, Thriller","117,229"
86,Luke Cage,(2016–2018),7.3,55 min,"Action, Crime, Drama","124,179"
87,Scandal,(2012–2018),7.7,43 min,"Drama, Thriller","70,807"
88,The Defenders,(2017),7.3,50 min,"Action, Adventure, Crime","99,050"
89,Big Little Lies,(2017–2019),8.5,60 min,"Crime, Drama, Mystery","180,814"
90,Insatiable,(2018–2019),6.5,45 min,"Comedy, Drama, Thriller","26,024"
91,The Mentalist,(2008–2015),8.1,43 min,"Crime, Drama, Mystery","174,881"
92,The Crown,(2016– ),8.6,58 min,"Biography, Drama, History","183,064"
93,Chernobyl,(2019),9.4,330 min,"Drama, History, Thriller","640,786"
94,iZombie,(2015–2019),7.8,42 min,"Comedy, Crime, Drama","64,799"
95,Reign,(2013–2017),7.5,42 min,"Drama, Fantasy","47,101"
96,A Series of Unfortunate Events,(2017–2019),7.8,50 min,"Adventure, Comedy, Drama","57,887"
97,Criminal Minds,(2005–2020),8.1,42 min,"Crime, Drama, Mystery","182,752"
98,Scream: The TV Series,(2015–2019),7.1,45 min,"Comedy, Crime, Drama","38,196"
99,The Haunting of Hill House,(2018),8.6,572 min,"Drama, Horror, Mystery","217,519"

## Q10

In [74]:
driver.get("https://archive.ics.uci.edu/")

In [75]:
driver.get(driver.find_elements_by_xpath("//span[@class='normal']/b/a")[0].get_attribute('href'))

In [89]:
ten=[]
try:
    tag=driver.find_elements_by_xpath("//td//p[@class='normal']")
    ten.extend([i.text for i in tag[8:4362]])
except:
    ten.append('-')

In [90]:
len(ten)

4354

In [92]:
dtset=ten[::7]
dtype=ten[1::7]
task=ten[2::7]
attTypeType=ten[3::7]
no_instances=ten[4::7]
no_att=ten[5::7]
year=ten[6::7]

In [93]:
df=pd.DataFrame()
df['datasetName']=ten[::7]
df['dataTypes']=ten[1::7]
df['task']=ten[2::7]
df['AttributrType']=ten[3::7]
df['noOfInstances']=ten[4::7]
df['noOFAttribute']=ten[5::7]
df['year']=ten[6::7]
df

,datasetName,dataTypes,task,AttributrType,noOfInstances,noOFAttribute,year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
5,Artificial Characters,Multivariate,Classification,"Categorical, Integer, Real",6000,7,1992
6,Audiology (Original),Multivariate,Classification,Categorical,226,,1987
7,Audiology (Standardized),Multivariate,Classification,Categorical,226,69,1992
8,Auto MPG,Multivariate,Regression,"Categorical, Real",398,8,1993
9,Automobile,Multivariate,Regression,"Categorical, Integer, Real",205,26,1987
10,Badges,"Univariate, Text",Classification,,294,1,1994
11,Balance Scale,Multivariate,Classification,Categorical,625,4,1994
12,Balloons,Multivariate,Classification,Categorical,16,4,
13,Breast Cancer,Multivariate,Classification,Categorical,286,9,1988
14,Breast Cancer Wisconsin (Original),Multivariate,Classification,Integer,699,10,1992
15,Breast Cancer Wisconsin (Prognostic),Multivariate,"Classification, Regression",Real,198,34,1995
16,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,569,32,1995
17,Pittsburgh Bridges,Multivariate,Classification,"Categorical, Integer",108,13,1990
18,Car Evaluation,Multivariate,Classification,Categorical,1728,6,1997
19,Census Income,Multivariate,Classification,"Categorical, Integer",48842,14,1996
20,Chess (King-Rook vs. King-Knight),"Multivariate, Data-Generator",Classification,"Categorical, Integer",,22,1988
21,Chess (King-Rook vs. King-Pawn),Multivariate,Classification,Categorical,3196,36,1989
22,Chess (King-Rook vs. King),Multivariate,Classification,"Categorical, Integer",28056,6,1994
23,Chess (Domain Theories),Domain-Theory,,,,,
24,Bach Chorales,"Univariate, Time-Series",,"Categorical, Integer",100,6,
25,Connect-4,"Multivariate, Spatial",Classification,Categorical,67557,42,1995
26,Credit Approval,Multivariate,Classification,"Categorical, Integer, Real",690,15,
27,Japanese Credit Screening,"Multivariate, Domain-Theory",Classification,"Categorical, Real, Integer",125,,1992
28,Computer Hardware,Multivariate,Regression,Integer,209,9,1987
29,Contraceptive Method Choice,Multivariate,Classification,"Categorical, Integer",1473,9,1997
...,...,...,...,...,...,...,...
592,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021
593,Pedal Me Bicycle Deliveries,Time-Series,Regression,Real,36,15,2021
594,Turkish Headlines Dataset,Text,"Classification, Clustering",,4200,7,2021
595,Secondary Mushroom Dataset,Univariate,Classification,Real,61069,21,2021
596,Power consumption of Tetouan city,"Multivariate, Time-Series",Regression,"Integer, Real",52417,9,2021
597,Raisin Dataset,Multivariate,Classification,"Integer, Real",900,8,2021
598,Steel Industry Energy Consumption Dataset,Multivariate,Regression,,35040,11,2021
599,Gender Gap in Spanish WP,Multivariate,Classification,"Integer, Real",4746,21,2021
600,Non verbal tourists data,Multivariate,"Classification, Clustering","Integer, Real",73,22,2021
601,Roman Urdu Sentiment Analysis Dataset (RUSAD),Text,Classification,,11000,2,2021
602,TUANDROMD ( Tezpur University Android Malware ...,Multivariate,Classification,Integer,4465,241,2021
603,Higher Education Students Performance Evaluati...,Multivariate,Classification,Integer,145,33,2021
604,Risk Factor prediction of Chronic Kidney Disease,Multivariate,"Classification, Regression",Real,202,29,2021
605,Lab Test,Multivariate,"Classification, Regression, Clustering",,221,7,2021
606,Shoulder Implant Manufacture Classification,Multivariate,Classification,,597,1,2020
607,Rocket League Skillshots Data Set,"Multivariate, Time-Series",Classification,Real,298,,2020
608,Sepsis survival minimal clinical records,Multivariate,Classification,Integer,110341,4,2020
609,Water Quality Prediction,Multivariate,Regression,Real,705,11,2020
610,Traffic Flow Forecasting,Multivariate,Regression,Real,2101,47,2020
611,sentiment analysis in Saudi Arabia about dista...,Text,Classification,Integer,1765,10,2020
612,Kain Tradisional Sambas,Multivariate,"Classification, Clustering",,150,3,2020
613,Image Recognition Task Execution Times in Mobi...,"Univariate, Sequential, Time-Series",Regression,Real,4000,2,2020
614,REWEMA,Multivariate,Classification,Integer,6272,632,2020
615,REJAFADA,Multivariate,Classification,Integer,1996,6826,2020
616,Steel Industry Energy Consumption Dataset,Multivariate,Regression,Integer,35040,11,2020
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021

In [94]:
driver.close()